@import 'sass/_normalize.scss';
@import 'sass/_base.scss';

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-color: gray;
    color: $text;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 3.998em;
}

h2 {
    font-weight: 100;
    font-size: 3.157em;
}

h3 {
    font-size: 1.5em;
    font-weight: 50;
}
h4 {
  font-size: 1.3em;
  font-weight:10;
}

p {
    font-size: 1em;
}

a {
    color: $accent;
}

// input[type="text"],
// input[type="email"],
// input[type="password"] {
//     padding: 10px 10px 7px;
// }
.tooltip {
  color: white;
  background: brown;
  border-color: black;
  z-index: 1001;
  pointer-events: none;
  transition: opacity .1s ease-out;
  opacity: 0;
  padding: 2px 2px 2px;
  text-shadow: 1px 1px #000000;
  @include card(1);
}

.tooltip.hide {
  opacity: 0;
}

.tooltip.show {
  opacity: 1;
}

.panel-default > .panel-heading-custom {
background: brown;
border-color: black;
 color: #fff; }

 .panel-default {
 background: $dgrey;
 border-color: black;
  color: white;
  text-shadow: 1px 1px #000000;
  @include card(1);
  background-image: url('/anotherbg.jpg');
  background-position: left top;
  background-repeat: no-repeat;
 }

.combatModeWeapons{
  padding: 1px 3px 1px;
  @include card(1);
  background-color: rgba(62,69,81,0.7);
  border: 1px solid black;
  border-radius: 5px;
}
.battleorderCard {
background-color: rgba(62,69,81,0.7);
text-shadow: 1px 1px black;
border: 2px solid black;
border-radius: 5px;
color: white;
}
.combatModeButtons {
  width: 120px;
  padding: 2px 2px 2px;
}

.panel-default > .panel-heading {
  background-color: rgba(62,69,81,0.7);
// background: brown;
  border-color: black;
  color: white;
  padding: 1px 2px 0px;
  text-shadow: 2px 2px #000000;
  // background-image: url('/playerheader.png');
  // background-position: left center;
  // background-repeat: no-repeat;
}
.panel-body {
  padding: 2px 2px 2px;
    background-color: rgba(62,69,81,0.2);

}
.dm-dashboard-player {
  background-color: #607d8b;
  border: 2px solid black;
  border-radius: 7px;
   @include card(1);
  padding: 3px 5px 3px;
  color: black;
}
.dashboardPlayers {
  background-color: #c0c0c0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 7px;
  @include card(1);
}

.player-dashboard {
  height: 80px;
  background-color: #c0c0c0;
  border: 2px solid brown;
  border-radius: 5px;
  background-image: url('/playerheader2.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  @include card(1);
  font-size: 20px;
  text-align: right;
  vertical-align: middle;
  line-height: 120px;
  color: white;
  text-shadow: 1px 1px #000000;
}

.character-div {
  background-color: #007E33;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
  color: white;
  @include card(1);
}

.dm-dashboard-initiative {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px 3px 3px 3px;
  background-image: url('/cooldiceguy.png');
  background-position: right center;
  background-repeat: no-repeat;
  @include card(1);
}
.killModal {
  height: 300px;
  background-color: brown;
  border: 0px solid black;
  border-radius: 5px;
  background-image: url('/coolbattle.jpg');
  background-position: right center;
  background-repeat: no-repeat;
  color: white;
}
.panel-awesome {
  background: $dgrey;
  background-image: url('/playerdbbackground.png'), linear-gradient(#202023, #19283f);
}

.alignright {
  max-resolution: 20px;
}

.small-dropdown {
  width: 200;
}

  .panel-custom {
  width: 300;
  background: gray;
  border-color: black;
   color: #fff; }

.btn, button {
    // background: $action;
    text-decoration: none;
    display: inline-block;
    // font-weight: 400;
    padding: 2px 5px 1px;
    // color: #FFF;
    // letter-spacing: 1px;
    // border: solid 2px $action;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
}

.item {
  display: block;
  color: white;
  padding: 5px;
  margin: 5px;
  background-color: brown;
  border: 1px solid black;
  width: 340px;
  cursor: move;
  @include card(1);
}

.diary {
  background-color: $dgrey;
  border-bottom: 2pxs solid $dgrey;
  text-shadow: 2px 2px #000000;
  @include card(1);
}

.satchelsack {
  background-color: white;
  color: black;
  border: 1px solid black;
  background-image: url('/pack.jpg');
  background-position: right top;
  background-repeat: no-repeat;;
  border-radius: 3px;
  padding: 3px;
  @include card(1);
}
//
// .btn-text {
//     @extend .btn;
//     background: transparent;
// }
//
// .btn-primary {
//     @extend .btn;
//     background: $accent;
//     border: solid 2px $accent;
//     &:hover {
//         background: $accent - 30;
//         border-color: $accent - 30;
//     }
// }


.header {
    background: brown;
    background-image: url('/D&D_Transparent.png'), linear-gradient(#202023, #19283f);
    border-bottom: 2pxs solid $dgrey;
    color: red;
    position: relative;
    z-index: 10;
    height: 50px;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    @include card(1);
    a {
        color: white;
    }
    .site-title {
        line-height: 3;
        margin: 0;
    }
}

.main-nav {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin-top: 10px;
    }
    li + li {
        margin-left: 30px;
        margin-top: 0px;

    }
    a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
}

.login-toggle {
    cursor: pointer;
}


// Homepage
.billboard {
    background-image: url('/dndbillboard.png'), linear-gradient(#202023, #19283f);
    color: white;
    text-align: left;
    border-bottom: 2px solid $dgrey;
    padding: 40px 5%;
}

.bgimg {
  width: 1920;
  height: 1080;
  background-image: url('/badassguy.jpg');
  background-size: cover;
  // border: 1px solid black;
  // border-radius: 5px;
  // padding: 15px 5px 15px;
  padding: 200px 25px;
}

.login-div{
  color: #ffbb33;
  width: 300;
  // background-color: white;
  background-color: rgba(62,69,81,0.7);
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  text-shadow: 1px 1px #000000;
  @include card(1);
}

.margin {
  margin-left: 5px;
  margin-right: 5px;
}

.app-layout {
    // margin-left: 20px;
    // margin-right: 20px;
    // min-height: 25vh;
    // padding: 20px 30px;
}

.app-nav {
    z-index: 9;
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
    height: 100vh;
    background: white;
    overflow: hidden;
    color: $text;
    padding-top: 100px;
    transition: all 0.3s ease;
    border-right: solid 1px $dgrey;
    &:hover {
        width: 300px;
        a > span {
            opacity: 1;
            transform: translate3d(0, 0,0);
        }
    }
    a {
        width: 100%;
        padding: 10px 25px;
        color: $text;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        i {
            font-size: 2em;
            margin-right: 20px;
        }
        > span {
            transform: translate3d(20px, 0,0);
            opacity: 0;
            transition: background 0.3s ease;
        }
        &:hover {
            color: #FFF;
            border-color: $action;
            background: $nav - 20;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.page-title {
    margin-top: 0;
}

table {
    font-size: 0.9em;
    position: relative;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    tr:nth-child(even) {
        background: #EEE
    }
    td, th {
        text-align: left;
        padding: 5px 2px;
    }
    th {
        background: brown;
        color: #fff;
    }
    &.edit-mode {
        transform: translate3d(300px, 0, 0);
    }
}

.user_id {
    color: $blue;
    cursor: pointer;
}

#trackerName {
  font-family: Papyrus, fantasy;
  font-size: 4em;
}

#insideContent{
    display:inline-block;
}

.fixed-size-square {
    display: table;
    width: 100px;
    height: 100px;
    background: #4679BD;
}
.fixed-size-square span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}
